.stack {
  display: flex;

  min-width: 0;
}


/*
============================================================
DIRECTION
============================================================
*/

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}


/*
============================================================
GAP
============================================================
*/

.gap-none {
  gap: var(--space-0);
}

.gap-xs {
  gap: var(--space-1);
}

.gap-sm {
  gap: var(--space-2);
}

.gap-md {
  gap: var(--space-4);
}

.gap-lg {
  gap: var(--space-6);
}

.gap-xl {
  gap: var(--space-8);
}

.gap-2xl {
  gap: var(--space-12);
}


/*
============================================================
ALIGN
============================================================
*/

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}


/*
============================================================
JUSTIFY
============================================================
*/

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}


/*
============================================================
WRAP
============================================================
*/

.wrap {
  flex-wrap: wrap;
}


/*
============================================================
FULL WIDTH
============================================================
*/

.fullWidth {
  width: 100%;
}